.cont {
  background-image: image-url("tweed.png");
  padding-top: 100px;
}

.content {
  background-color: white;
  width: 250px;
  border-radius: 5px;
  position: relative;
  margin: auto;
  padding: 10px;
  h1 {
    text-align: center;
  }
  form {
    text-align: center;
  }
  td {
    text-align: center;
    padding: 15px;
  }
  &.companies {
    width: 880px;
  }
  &.invoices {
    width: 500px;
  }
  &.invoices-new {
    width: 700px;
  }
  &.items {
    width: 880px;
  }
}
